<div class="cart">
    <h1>Cart</h1>

    <div class="gBlock" *ngFor="let p of products;let i= index">
        <ul>
            <li><h2>{{p.name}}</h2></li>
            <img src="{{p.img}}">
            <p><strong>Description: </strong>{{p.description}}</p>
            <p><strong>Cost: </strong>{{p.cost}}$</p>
            <button class="deleteButton" (click)="deleteProduct(i)">Delete</button>
        </ul>
        
    </div>
    <a routerLink="/order" ><button class="orderButton">Go to order</button></a>

</div>