.top{
  background-color: #407a61;
<<<<<<< HEAD
=======
  /* position: fixed; */
>>>>>>> 62e1ad168884a9a15a4bfe9b824bcb6d0f596f62
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.menu ul li{
  list-style: none;
  display: inline;
}