<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="surename">
            Surename
        </label>
        <input id="surename" type="text" formControlName="surename">
    </div>
    <div>
        <label for="address">
            Address
        </label>
        <input id="address" type="text" formControlName="address">
    </div>
    <div>
        <label for="card_number">
            Card number
        </label>
        <input id="card_number" type="text" formControlName="card_number">
    </div>
    <button class="button" type="submit">Purchase</button> 

</form>