html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main{
  max-width: 1150px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left {
  width: 35%;
  margin-top: 60px;
  margin-left: 55px;
}

.right {
  width: 35%;
  margin-top: 60px;
  margin-left: 55px;
}

.category-in-list{
  border-bottom: 2px solid #abbd8c;
  margin-bottom: 15px;
}

.right h1 {
  font-weight: 1000;
  font-size: 600%;
  color: #275362;
  letter-spacing: -2px;
}
.category-in-list a{
  font-size: 30px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
  text-decoration: none;
}
