<!-- <app-top-bar></app-top-bar> -->
<div class="main">

  <div class="lilmain" *ngFor="let c of categories">
 
    <div>
      <h2><a [routerLink]="['categories', c.id, 'products']" style="font-size: larger;">{{c.name}}</a></h2>
    </div>

    <div class="cats" *ngFor="let p of products">

      <div class="cat" *ngIf="p &&  p.category_id==c.id"> 
       
        <p id="name">{{p.name}}</p>
        <img src={{p.img}} width="250px">
        <button id="add" (click)="addToCart(p)">add to cart</button>
      </div>
      
    </div>


  </div>

</div>