.main{
  background-color: #f8f1f4;
  width: 100%;
  margin-left: 20px;
}

a, a:visited{
  text-decoration: none;
  text-transform: none;
  color: #275362;
}

.cats{
  display: inline-block;
  margin-bottom: 50px;
}

.cat{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  padding: 20px;
  /* margin: 20px; */
}

#name{
  height: 20px;
  width: 250px;
  margin: 0;
  padding-bottom: 25px;
}

#add{
  width: 250px;
}