.main{
  background-color: #f8f1f4;
  display: table;
  width: 100%;
}

a, a:visited{
  text-decoration: none;
  text-transform: none;
  color: #275362;
}

.cats{
  display: table-cell;
}

.cat{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  padding: 20px;
}

#add{
  width: 200px;
}