.main{
  background-color: #f8f1f4;
}

a, a:visited{
  text-decoration: none;
  text-transform: none;
  color: #275362;
}

.cats{
  display: inline;
}

.cat{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  padding: 20px;
}